body{
    /*background-color: rgb(131, 245, 231);*/
    background-image: url("IMG/bg4.jpg");
    text-align: center;
}

p{
    text-align: left;
}

.mtitle{
    width:535px;
    height:75px;
    margin:0px auto;
    margin-bottom: 15px;
}

.pic1{
    border: 3px solid rgb(122, 234, 245);
}

.content{
    background-color: rgb(122, 234, 245);
    border: 3px solid white;
}

.txt1{
    /*border: 2px solid white;*/
    padding: 0 10px 0 10px;
    width: 517px;
    margin:0px auto;
    display: block;
}

.button1{
    width: 200px;
    height: 25px;
    font-weight: bold;
    box-shadow: 5px 5px 5px #888888;
}

.button2{
    width: 100px;
    height: 25px;
    font-weight: bold;
    box-shadow: 5px 5px 5px #888888;
}

.tb1{
    margin:0px auto;
}

input[type="checkbox"] {
    display:inline-block;
    width:15px;
    height:15px;
}

.commands{
    text-align: left;
    width: 100px;
}









.ft1{
    margin: 0px auto;
    width: 537px;

    display: flex;
    justify-content: flex-start;
}

.rifle{
    width: 40px;
    height: 40px;
    margin: 5px 5px 0 15px;
}

.icon{
    width: 40px;
    height: 40px;
    margin: 7px 2px 0 2px;
}

.name{
    font-size: 20px;
    margin: 14px 1px 0 1px;
}
